/* CSS HEX */
:root {
    --black-chocolate: #0f1108;
    --bole: #774936;
    --bud-green: #7fb069;
    --yellow-orange: #fea82f;


/* CSS HSL */
--black-chocolate: rgb(31, 31, 31);
--bole: hsla(18, 38%, 34%, 1);
--bud-green: hsla(101, 31%, 55%, 1);
--yellow-orange: hsla(35, 99%, 59%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#header {
    background-color: var(--yellow-orange);
}

    .nav {
        position: fixed;
        width: 100%;
        background-color: #fff;
        /* border-bottom: 1px solid rgba(156, 156, 156, 0.363); */
        -webkit-box-shadow: 0px 10px 17px 3px rgba(0,0,0,0.1); 
        box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.1);
    }

    .nav__toggle {
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        right: 0;
        top: 15px;
    }
    .nav__toggle svg{
        width: 1.5rem;
    }
    .nav__toggle .close {
        display: none;
        margin-top: 0.3rem;
    }

    .nav__toggle .menu {
        margin-top: 0.5rem;
    }


    .nav__checkbox {
        display: none;
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 1.2rem;
    }

    .nav__menu li {
        list-style-type: none;
        display: none;
    }

    .nav__menu .list__nav {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.541);
        font-size: 1.1rem;
    }

    .nav__menu li:first-child {
        margin-right: auto;
        display: block;
    }

    .menu__logo{
        height: 40px;
    }

    .menu__logo img {
        width: 5.5rem;
        height: 4.5rem;
        position: relative;
        bottom: 14px;
    }

    #nav__checkbox:checked ~ ul.nav__menu li {
        display: block;
    }

    #nav__checkbox:checked ~ label.nav__toggle .close {
        display: block;

    }

    #nav__checkbox:checked ~ label.nav__toggle .menu {
        display: none;
    }

    .container-home {
        width: 100%;
        height: 44.5rem;
        background-image: linear-gradient(180deg, rgba(255,255,255,0.1) 1%, rgba(0,0,0,1.9) 95%), url('./assets/workwood-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .container-home .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-home h3 {
        font-size: 3.8rem;
        margin: 0 35px;
        padding-bottom: 2rem;
        font-weight: 200;
        color: rgba(255, 255, 255, 0.829);
    }

    .container-home h1 {
        margin: 15px  ;
        font-size: 2.3rem;
        font-weight: 100;
        color: rgba(255, 255, 255, 0.918);
    }

    /* CARDS */

    section .container-cards {
        width: 100%;
        height: 200rem;
        background-image: linear-gradient(to bottom, #000000, #392224, #6f4039, #a36546, #d0924f);
    }

    .container-cards .cards {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .card {
        background-color: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.226);
        border-radius: 6px;
        box-shadow: 15px 15px 16px 7px rgba(0, 0, 0, 0.1);
        width: 250px;
        height: 400px;
        margin: 15px;

    }

    .container-cards .cards-title {
        display: flex;
        justify-content: center;
        text-align: center;
        color: rgba(238, 238, 238, 0.918);
    }

    .cards-title h3 {
        font-size: 3.5rem;
        font-weight: 200;
        margin-top: 7rem;
        margin-bottom: 4rem;
    }
    .card .card-info {
        margin: 10px 25px;
        border-top: 2px solid rgba(207, 207, 207, 0.7);

    }

    .card-info h3 {
        font-size: 16px;
        font-weight: 300;
        color: rgb(44, 44, 44);
        margin: 8px 0;
    }
    .card-info p {
        font-family: 'Roboto';
        font-size: 20px;
        font-weight: lighter;
        color: rgb(31, 31, 31);
        margin: 8px 0;
    }


    .card .card-button {
        display: flex;
        justify-content: center;
        margin-top: 2.6rem;
    }

    .card .card-button button {
        border: 1px solid rgba(167, 167, 167, 0.623);
        width: 5.2rem;
        height: 1.9rem;
        border-radius: 4px;
        background: transparent;
        font-family: 'Roboto';
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        color: rgb(44, 44, 44);
        margin: 8px 0;
        cursor: pointer;
    }

    .card .card-button button:hover {
        background-color: #fea82fde;
        color: rgba(255, 255, 255, 0.918);
        border: 1px solid transparent;
    }

        /* ABOUT */

        .container__nosotros {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 0 34px;
            padding-top: 7rem;
        }

        .title__nosotros h2 {
            font-size: 3.5rem;
            font-weight: 200;
            color: rgb(44, 44, 44);
            text-align: center;
        }

        .info__video--nosotros {
            width: 100%;
            height: 540px;
            text-align: center;
            margin: 45px 0;
            border-left: 1px solid rgba(110, 110, 110, 0.212);
            border-right: 1px solid rgba(110, 110, 110, 0.212);
            border-bottom: 1px solid rgba(110, 110, 110, 0.212);
        }
        
        .info__video--nosotros:hover {
            box-shadow: 15px 15px 16px 7px rgba(78, 78, 78, 0.1);

        }

        .info__video--nosotros .video--nosotros {
            width: 100%;
            margin-bottom: 2.6rem;
        }


        .text__info--nosotros p {
            font-size: 1rem;
            font-weight: 300;
            padding: 26px 14px;
        }

        .container__card--nosotros {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            text-align: center;
            gap: 4rem;
            
        }
        .info__card--nosotros {
            border-left: 1px solid rgba(110, 110, 110, 0.212);
            border-right: 1px solid rgba(110, 110, 110, 0.212);
            border-bottom: 1px solid rgba(110, 110, 110, 0.212);
        }

        .info__card--nosotros:hover {
            box-shadow: 15px 15px 16px 7px rgba(78, 78, 78, 0.1);
        }
        .info__card--nosotros img {
            width: 100%;
            height: 320px;
            object-fit: cover;
        }
        .text__card--nosotros {
            padding: 2rem;
        }

        .text__card--nosotros h3 {
            font-weight: 200;
            font-size: 2rem;
            margin: 10px;
        }

        
        .text__card--nosotros p {
            font-weight: 300;
            font-size: 1rem;
            margin: 10px;
        }


    .container__contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        padding-top: 7rem;
    }

    .container__form--contacto {
        width: 292px;
        display: flex;
        justify-content: center;
    }
    .container__form--contacto form{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        margin: 1rem;
    }

    .title__Contacto h3 {
        font-family: 'Roboto';
        font-size: 4rem;
        font-weight: 200;
        margin: 2rem 0;
    } 

    .container__form--contacto form input{
        font-size: 16px;
        height: 40px;
        border: none;
        border-bottom: 1px solid rgba(167, 167, 167, 0.623);
        outline: none
    }

    .container__form--contacto form label{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 20px;
    }

    .container__form--contacto form textarea{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 20px;
        width: 100%;
        height: 220px;
        border: none;
        border-bottom: 1px solid rgba(167, 167, 167, 0.623);
        outline: none
    }
    textarea {
        resize: none;
    }


    .container__form--contacto .container__form--button {
        display: flex;
        justify-content: center;
    }

    .container__form--button button {
        background: none;
        border: 1px solid rgba(167, 167, 167, 0.623);
        width: 5.5rem;
        height: 2.5rem;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Roboto';
        font-size: 18px;
        font-weight: 300;
        color: rgba(131, 131, 131, 0.767);
    }

    .container-footer {
        height: 209px;
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }

    .container__title--footer h3{
        font-size: 64px;
        font-weight: 200;
        margin: 32px 0;
    }

    .container__social--links {
        width: 209px;
        gap: 31px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .container__social--links a {
        width: 42px;
        height: 42px;
        
    }

    .container__social--links img {
        border-radius: 50%;
        width: 42px;
    }

    .container__footer--text {
        width: 236px;
        padding-top: 12px;
        margin: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgba(167, 167, 167, 0.623);
    }

    .container__footer--text p{
        font-size: 0.9rem;
        font-weight: 300;
    }






@media only screen and (min-width: 560px){
    .nav__toggle {
        display: none;
    }

    .nav__menu {
        flex-direction: row;
    }

    .nav__menu li {
        display: block;
    }

    .nav__menu .list__nav {
        color: rgb(63, 63, 63);
    }

    .container-home {
        width: 100%;
        height: 100vh;
    }
}


@media (min-width: 1025px){

}

@media (min-width: 1441px){

}


@media (min-width: 2561px){


}






